html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  min-width: 100px;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;

  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  background-color: transparent;

  cursor: pointer;
}

.contacts__wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.contacts__container {
  width: 700px;
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

.contacts__content {
  height: 70vh;
}

.contacts__title {
  margin: 0 auto;
  margin-bottom: 60px;

  text-align: center;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.contacts-list__item {
  display: flex;
  min-width: 480px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
}

.contacts-list__number {
  margin: 0;
  margin-right: 10px;
}

.contacts-list__text {
  margin: 0;
  margin-right: 65px;
  margin-bottom: 5px;
  padding: 0;
}

.contacts-list__link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin-left: auto;
}

.contacts-list__link {
  border-bottom: 1px solid transparent;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;

  cursor: pointer;
}

.contacts-list__link--edit {
  color: steelblue;

  &:hover {
    border-bottom-color: steelblue;
  }

  &:active {
    color: darken(steelblue, 20%);
    border-bottom-color: darken(steelblue, 20%);
  }
}

.contacts-list__link--remove {
  color: tomato;

  &:hover {
    border-bottom-color: tomato;
  }

  &:active {
    color: darken(tomato, 20%);
    border-bottom-color: darken(tomato, 20%);
  }
}

.desc-function {
  margin-left: auto;
}

.desc-function__button {
  min-width: 200px;

  background-color: steelblue;

  &:hover {
    background-color: darken(steelblue, 10%);
  }

  &:active {
    background-color: darken(steelblue, 20%);
  }
}

.form-login__wrapper {
  width: 250px;
  margin: 0 auto;
  padding: 40px 20px;
}

.form-login__group {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  margin-bottom: 20px;
}

.form-login__title {
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

.form-login__label {
  margin-bottom: 5px;

  color: #888888;
}

.form-login__input {
  padding: 10px 10px;
  border: 1px solid gray;
  border-radius: 5px;

  font-size: 16px;
  line-height: 24px;
  color: #444444;
}

.form-login__input--error {
  border-color: tomato;
}

.form-login__button {
  min-width: 150px;
  margin-top: 10px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;

  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: steelblue;
}

.form-login__feedback {
  display: none;
  margin-bottom: 10px;
  margin-top: -10px;

  font-size: 14px;
  line-height: 16px;
  color: tomato;
}

.form-login__feedback--show {
  display: block;
}

.form-search {
  width: 100%;
}

.form-search__group {
  display: flex;
}

.form-search__input {
  flex-grow: 2;
  margin-right: 20px;
  padding: 10px 10px;
  border: 1px solid #888888;
  border-radius: 5px;

  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

::-webkit-input-placeholder {
  color:#bbbbbb;
}
::-moz-placeholder {
  color:#bbbbbb;
}
:-moz-placeholder {
  color:#bbbbbb;
}
:-ms-input-placeholder {
  color:#bbbbbb;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}

.form-add__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  min-width: 200px;
}

.form-add__label {
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 18px;
  color: #666666;
}

.form-add__input {
  padding: 10px 10px;
  border: 1px solid gray;
  border-radius: 5px;

  font-size: 16px;
  line-height: 24px;
  color: #444444;
}

.form-add__input--error {
  border-color: tomato;
}

.form-add__feedback {
  margin-top: 3px;

  font-size: 12px;
  color: tomato;
}

.form-add__button-wrapper {
  display: flex;
  justify-content: space-between;
}

.form-add__button--success {
  background-color: royalblue;

  &:hover {
    background-color: darken(royalblue, 10%);
  }

  &:active {
    background-color: darken(royalblue, 20%);
  }
}

.form-add__button--cancel {
  background-color: gray;

  &:hover {
    background-color: darken(gray, 10%);
  }

  &:active {
    background-color: darken(gray, 20%);
  }
}

.form-remove__text {
  width: 320px;
  margin: 0;
  margin-bottom: 20px;
}

.form-remove__button-wrapper {
  display: flex;
  justify-content: space-between;
}

.form-remove__button--remove {
  background-color: tomato;

  &:hover {
    background-color: darken(tomato, 10%);
  }

  &:active {
    background-color: darken(tomato, 20%);
  }
}

.form-remove__button--cancel {
  background-color: gray;

  &:hover {
    background-color: darken(gray, 10%);
  }

  &:active {
    background-color: darken(gray, 20%);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__title {
  margin: 0;
}

.navbar__button {
  border: none;
  background-color: #eeeeee;

  color: #444444;

  &:hover {
    background-color: darken(#eeeeee, 10%);
  }

  &:active {
    background-color: darken(#eeeeee, 20%);
  }
}

.modal {
  display: none;

  z-index: 1000;
}

.modal__dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);
}

.modal__header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.modal__close {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;

  background-color: transparent;

  cursor: pointer;
}

.modal__close::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 4px;
  width: 20px;
  height: 2px;
  transform: rotate(45deg);

  background-color: rgba(0, 0, 0, 0.8);
}

.modal__close::after {
  content: '';
  position: absolute;
  top: 13px;
  left: 4px;
  width: 20px;
  height: 2px;
  transform: rotate(-45deg);

  background-color: rgba(0, 0, 0, 0.8);
}

.modal__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
}

.modal__content {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);

  min-width: 380px;
  padding: 40px 40px;

  background-color: #fff;
}

.show {
  display: flex;
}
