body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.btn {
  display: inline-block;
  min-width: 100px;
  padding: 10px 25px;
  border: none;

  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  background-color: transparent;

  cursor: pointer;
}

.btn--search {
  margin-right: 20px;
  border: 1px solid lightgray;
  color:rgba(0, 0, 0, 0.8);
}

.btn--reset {
  border: 1px solid lightgray;
  color:rgba(0, 0, 0, 0.8);
}

.btn--add {
  background-color: royalblue;
}

.btn--exit {
  color: #888888;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.contacts__container {
  width: 700px;
  margin: 0 auto;
  margin-top: 50px;
}

.contacts__title {
  margin: 0 auto;
  margin-bottom: 60px;

  text-align: center;
}

.contacts-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contacts-list__item {
  display: flex;
  min-width: 320px;
  margin-bottom: 20px;
}

.contacts-list__number {
  margin: 0;
  margin-right: 10px;
}

.contacts-list__text {
  margin: 0;
  margin-right: 100px;
  margin-bottom: 5px;
  padding: 0;
}

.contacts-list__button-wrapper {
  display: flex;
  margin-left: auto;
}

.contacts-list__button {
  margin: 0;
  margin: 0;
  border: none;

  background-color: transparent;
  font-size: 12px;
  line-height: 18px;

  cursor: pointer;
}

.contacts-list__button--edit {
  color: steelblue;
}

.contacts-list__button--remove {
  color: tomato;
}

.form-search__group {
  display: flex;
}

.form-search__input {
  min-width: 240px;
  margin-right: 20px;
  padding: 7px 15px;
}

.form-add__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  min-width: 200px;
}

.form-add__label {
  margin-bottom: 5px;
}

.form-add__input {
  padding: 7px 10px;
  border: 1px solid gray;
}

.form-add__button-wrapper {
  display: flex;
  justify-content: space-between;
}

.form-add__button--success {
  background-color: royalblue;
}

.form-add__button--cancel {
  background-color: gray;
}

.form-login__wrapper {
  width: 250px;
  margin: 0 auto;
  padding: 40px 20px;
}

.form-login__group {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  margin-bottom: 20px;
}

.form-login__title {
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

.form-login__label {
  margin-bottom: 5px;
}

.form-login__input {
  padding: 7px 10px;
  border: 1px solid gray;
}

.form-login__button {
  padding: 10px 20px;

  font-size: 14px;
  text-transform: uppercase;
}

.form-remove__text {
  width: 320px;
  margin: 0;
  margin-bottom: 20px;
}

.form-remove__button-wrapper {
  display: flex;
  justify-content: space-between;
}

.form-remove__button--remove {
  background-color: tomato;
}

.form-remove__button--cancel {
  background-color: gray;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar__title {
  margin: 0;
}

.modal {
  display: none;

  z-index: 1000;
}

.modal__dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);
}

.modal__header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.modal__close {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;

  background-color: transparent;

  cursor: pointer;
}

.modal__close::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 4px;
  width: 20px;
  height: 2px;
  transform: rotate(45deg);

  background-color: rgba(0, 0, 0, 0.8);
}

.modal__close::after {
  content: '';
  position: absolute;
  top: 13px;
  left: 4px;
  width: 20px;
  height: 2px;
  transform: rotate(-45deg);

  background-color: rgba(0, 0, 0, 0.8);
}

.modal__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
}

.modal__content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  min-width: 300px;
  padding: 40px 40px;

  background-color: #fff;
}

.show {
  display: flex;
}
